.filter {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 10px;
}

.filter__label {
    font-weight: bold;
    margin-bottom: 10px;
}

.filter__group {
    margin-right: 10px;
}
.filter__inputgroup .filter__button {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background: #272727;
    color: #fff;
    border: solid 1px hsla(0, 0%, 100%, 0.12);
    padding: 0 10px;
    box-sizing: border-box;
    height: 28px;
    min-width: 50px;
    cursor: pointer;
}
.filter__inputgroup .filter__button--active {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    color: #000;
    border: solid 1px #000;
    padding: 0 10px;
    box-sizing: border-box;
    height: 28px;
    background: hsla(0, 0%, 100%, 0.12);
}
